extra/n8n+chatwoot/ChatwootExtra.json
{
  "name": "ChatwootExtra",
  "nodes": [
    {
      "parameters": {
        "content": "## (1.0.4) Updates\n* default envrionment variables\n",
        "height": 139.75900985723197,
        "width": 505.65878958512553
      },
      "id": "a92f50ec-df96-45d7-b0f6-64f4bbe8ffa0",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        760,
        81.09974474895623
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.extra.account }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "953f4ed0-3197-43df-8606-21d594845741",
      "name": "If Missing Account",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1420,
        280
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT account_id FROM inboxes WHERE id = '{{ $json.extra.inbox }}'",
        "additionalFields": {}
      },
      "id": "0fea566f-7dec-400c-ac3f-03ae11f9e67c",
      "name": "Get Account From Inbox",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        1620,
        160
      ],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "number": [
            {
              "name": "extra.account",
              "value": "={{ $json.account_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7e9cbd9a-3a32-4f32-a46c-683e6bfe71a4",
      "name": "Set Account",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1780,
        160
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "extra.atoken",
              "value": "={{ $json.atoken }}"
            }
          ],
          "number": [
            {
              "name": "extra.aid",
              "value": "={{ $json.aid }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9c613574-3aa4-4935-8f69-a864b1855dfb",
      "name": "Set AToken",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        2720,
        200
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "1fb1f596-3cdf-41ba-b28b-57e7a0b43e38",
      "name": "Merge Extra AToken",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        2920,
        280
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "e1db846a-67ac-4c50-aa65-d36991e7b2de",
      "name": "Merge Extra Account",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1960,
        240
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO \"public\".\"access_tokens\" (\"owner_type\", \"owner_id\", \"token\", \"created_at\", \"updated_at\")\nSELECT 'AgentBot', '{{ $json.id }}', SUBSTRING(md5(random()::text),0,24), NOW(), NOW() \nWHERE NOT EXISTS (SELECT NULL FROM \"public\".\"access_tokens\" WHERE \"owner_type\" = 'AgentBot' AND \"owner_id\" = {{ $json.id }});\nSELECT \"token\" AS \"atoken\", \"owner_id\" AS \"aid\" FROM \"public\".\"access_tokens\" WHERE \"owner_type\" = 'AgentBot' AND \"owner_id\" = {{ $json.id }} LIMIT 1;",
        "additionalFields": {}
      },
      "id": "4fe3be30-4ef2-404d-b0ce-75b2db78e086",
      "name": "GetOrCreate Agent Token",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        2540,
        200
      ],
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO \"agent_bot_inboxes\" (\"inbox_id\", \"agent_bot_id\", \"status\", \"account_id\", \"created_at\", \"updated_at\")\nSELECT {{ $json.extra.inbox }}, {{ $json.extra.aid }}, 0, {{ $json.extra.account }}, NOW(), NOW() WHERE NOT EXISTS(SELECT NULL FROM \"agent_bot_inboxes\" WHERE \"inbox_id\" = {{ $json.extra.inbox }} AND \"agent_bot_id\" = {{ $json.extra.aid }} AND \"account_id\" = {{ $json.extra.account }});",
        "additionalFields": {}
      },
      "id": "f0042c96-2144-4749-a51d-cf7a1cc1ffca",
      "name": "Ensure Rights For AgentBot At Account",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        3120,
        180
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT \"access_tokens\".\"token\" AS \"utoken\" FROM \"account_users\" INNER JOIN \"access_tokens\" ON \"access_tokens\".\"owner_id\" = \"account_users\".\"user_id\" WHERE \"account_users\".\"account_id\" = {{ $json.extra.account }} AND \"access_tokens\".\"owner_type\" = 'User' AND \"account_users\".\"role\" = 1 ORDER BY \"account_users\".\"id\" LIMIT 1;",
        "additionalFields": {}
      },
      "id": "1cf3c711-c065-4c71-a328-b6e01d6cd93c",
      "name": "Get Admin User Token",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        3540,
        180
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "extra.utoken",
              "value": "={{ $json.utoken }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4c67e58d-23c3-4c22-b50b-341a7b73d943",
      "name": "Set UToken",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        3720,
        180
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "7ebdea8e-5e36-47a9-a09a-31a15790c595",
      "name": "Merge Extra UToken",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        3900,
        240
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT \"public\".\"channel_api\".\"identifier\", \"public\".\"inboxes\".\"channel_id\" FROM \"public\".\"channel_api\" INNER JOIN \"public\".\"inboxes\" ON \"public\".\"channel_api\".\"id\" = \"public\".\"inboxes\".\"channel_id\" WHERE \"public\".\"channel_api\".\"account_id\"='{{$json.extra.account}}' AND \"public\".\"inboxes\".\"id\" = '{{$json.extra.inbox}}';",
        "additionalFields": {}
      },
      "id": "f7264298-539a-4a04-918f-3380756b4571",
      "name": "Get Identifier",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        4280,
        220
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "18489a4f-ce5b-4687-b36b-c67914cbaf2b",
      "name": "Merge Extra Identifier",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        4660,
        280
      ]
    },
    {
      "parameters": {},
      "id": "261237c6-f3e5-4e56-8bdf-1c3fbecc84e0",
      "name": "Account & Inbox",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2160,
        300
      ]
    },
    {
      "parameters": {},
      "id": "bf8f8aa8-39a4-4895-8f6a-551b9b13a857",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        780,
        260
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "number": [
            {
              "name": "extra.inbox",
              "value": "={{ $json.body.inbox_id }}"
            },
            {
              "name": "extra.account",
              "value": "={{ $json.body.messages[0].account_id }}"
            }
          ],
          "string": [
            {
              "name": "extra.cwpublic",
              "value": "={{ $env[\"C8Q_CW_PUBLIC_URL\"]?.replace(/\\&+$/, '') }}"
            },
            {
              "name": "extra.qphost",
              "value": "={{ $env[\"C8Q_QP_HOST\"] ?? \"http://127.0.0.1:31000\" }}"
            },
            {
              "name": "extra.cwhost",
              "value": "={{ $env[\"C8Q_CW_HOST\"] ?? \"http://127.0.0.1:3000\" }}"
            },
            {
              "name": "extra.n8nhost",
              "value": "={{ $env[\"C8Q_N8N_HOST\"] ?? $env[\"WEBHOOK_URL\"] ?? \"http://127.0.0.1:5678\" }}"
            },
            {
              "name": "extra.qpuser",
              "value": "={{ $env[\"C8Q_QP_DEFAULT_USER\"] ?? \"default@quepasa.io\" }}"
            },
            {
              "name": "event",
              "value": "={{ $json.event }}"
            },
            {
              "name": "extra.utoken",
              "value": "={{ $env['C8Q_SUPERUSER_TOKEN'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c9d82916-d71d-44fe-955d-868fe7040ef0",
      "name": "Defaults",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        980,
        260
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "extra.identifier",
              "value": "={{ $json.identifier }}"
            }
          ],
          "number": [
            {
              "name": "extra.channel",
              "value": "={{ $json.channel_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0301f8da-ee25-486e-8138-9c8b2d56282f",
      "name": "Set Identifier & Channel",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        4460,
        220
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "58f981c1-0ab5-4a8b-a1ca-8e9e5db64ace",
              "leftValue": "={{ $json.event }}",
              "rightValue": "api_inbox_delete",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "id": "ed4d1ec4-aa3a-406c-b2c0-c7c0debc43eb",
      "name": "From Inbox Delete ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1180,
        260
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO \"public\".\"agent_bots\" (\"name\", \"account_id\", \"created_at\", \"updated_at\")\nSELECT '{{ $env[\"C8Q_QP_BOTTITLE\"] ?? \"Whatsapp Sync - Quepasa\" }}', NULL, NOW(), NOW() \nWHERE NOT EXISTS (SELECT NULL FROM \"public\".\"agent_bots\" WHERE \"bot_type\" = 0 AND \"name\" LIKE '{{ $env[\"C8Q_QP_BOTTITLE\"] ?? \"Whatsapp Sync - Quepasa\" }}' AND \"account_id\" IS NULL);\nSELECT \"id\" FROM \"public\".\"agent_bots\" WHERE \"bot_type\" = 0 AND \"name\" LIKE '{{ $env[\"C8Q_QP_BOTTITLE\"] ?? \"Whatsapp Sync - Quepasa\" }}' AND \"account_id\" IS NULL LIMIT 1;",
        "options": {}
      },
      "id": "29936dc2-4458-4fab-a1ac-19b3dc136746",
      "name": "GetOrCreate Global AgentBot",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        2360,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4d05483a-173e-4218-84fe-f3eec4dbf39c",
              "leftValue": "={{ $json.extra.utoken }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7a02ab8d-b227-4d8c-bbf7-dfb6be6acce5",
      "name": "If Missing (utoken)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3340,
        280
      ]
    },
    {
      "parameters": {},
      "id": "8b9742bd-8d40-4ca9-a467-d10345077e79",
      "name": "Identifier",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4080,
        300
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "If Missing Account": {
      "main": [
        [
          {
            "node": "Get Account From Inbox",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Extra Account",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Account & Inbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Account From Inbox": {
      "main": [
        [
          {
            "node": "Set Account",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Account": {
      "main": [
        [
          {
            "node": "Merge Extra Account",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set AToken": {
      "main": [
        [
          {
            "node": "Merge Extra AToken",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Extra Account": {
      "main": [
        [
          {
            "node": "Account & Inbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Extra AToken": {
      "main": [
        [
          {
            "node": "Ensure Rights For AgentBot At Account",
            "type": "main",
            "index": 0
          },
          {
            "node": "If Missing (utoken)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetOrCreate Agent Token": {
      "main": [
        [
          {
            "node": "Set AToken",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Admin User Token": {
      "main": [
        [
          {
            "node": "Set UToken",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set UToken": {
      "main": [
        [
          {
            "node": "Merge Extra UToken",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Extra UToken": {
      "main": [
        [
          {
            "node": "Identifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Identifier": {
      "main": [
        [
          {
            "node": "Set Identifier & Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Account & Inbox": {
      "main": [
        [
          {
            "node": "Merge Extra AToken",
            "type": "main",
            "index": 1
          },
          {
            "node": "GetOrCreate Global AgentBot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Defaults",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Defaults": {
      "main": [
        [
          {
            "node": "From Inbox Delete ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Identifier & Channel": {
      "main": [
        [
          {
            "node": "Merge Extra Identifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "From Inbox Delete ?": {
      "main": [
        [],
        [
          {
            "node": "If Missing Account",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetOrCreate Global AgentBot": {
      "main": [
        [
          {
            "node": "GetOrCreate Agent Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Missing (utoken)": {
      "main": [
        [
          {
            "node": "Get Admin User Token",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Extra UToken",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Identifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Identifier": {
      "main": [
        [
          {
            "node": "Get Identifier",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Extra Identifier",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 60
  },
  "versionId": "a5e8631a-43cc-411e-9c07-f64f00a165c2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2b4ab318d4f8eba20155e50db9998481bc305e3588e42ee69176091736c9d07e"
  },
  "id": "iiEsUj7ybtzEZAFj",
  "tags": [
    {
      "createdAt": "2022-10-13T15:26:19.857Z",
      "updatedAt": "2023-08-24T21:01:00.296Z",
      "id": "6",
      "name": "chatwoot"
    }
  ]
}