extra/n8n+chatwoot/ChatwootToQuepasaGreetings.json
{
  "name": "ChatwootToQuepasaGreetings",
  "nodes": [
    {
      "parameters": {
        "baseUrl": "={{$json.qphost}}",
        "token": "={{$json.qptoken}}",
        "text": "={{$json.content}}",
        "chatId": "={{$json.chatid}}",
        "trackId": "chatwoot"
      },
      "id": "64640cb7-ddd9-4c4e-a5ad-9aee75663937",
      "name": "Quepasa Send Welcome",
      "type": "n8n-nodes-quepasa.quepasa",
      "typeVersion": 1,
      "position": [
        300,
        160
      ]
    },
    {
      "parameters": {
        "respondWith": "noData",
        "options": {}
      },
      "id": "04b59ef5-836c-46ca-a656-9f0b7a499a5d",
      "name": "Normal Exit (GNE)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -500,
        360
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.chatid}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "Has Chat Id ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -2000,
        340
      ],
      "alwaysOutputData": false,
      "id": "cffe3d56-86c8-45c0-9e92-03f15219ddc7"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "chatid",
              "value": "={{$json.chat.id}}"
            },
            {
              "name": "qphost",
              "value": "={{ $json.extra.qphost ?? 'http://localhost:31000' }}"
            },
            {
              "name": "qptoken",
              "value": "={{ $json.extra.qptoken ?? $json.extra.identifier }}"
            },
            {
              "name": "cwhost",
              "value": "={{ $json.extra.cwhost ?? 'http://localhost:3000' }}"
            },
            {
              "name": "account",
              "value": "={{$json.extra.account}}"
            },
            {
              "name": "inbox",
              "value": "={{$json.extra.inbox}}"
            },
            {
              "name": "utoken",
              "value": "={{$json.extra.utoken}}"
            }
          ],
          "boolean": [
            {
              "name": "skipgreetings",
              "value": "={{ $json.chat.chatwoot.skipgreetings ?? false }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0a532f47-e534-498a-850b-8196fff3b20e",
      "name": "Set Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -2160,
        340
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "content",
              "value": "={{ $json.sendOutofOfficeMessage ? $json.out_of_office_message : $json.greeting_message }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Greeting Message Content",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -300,
        240
      ],
      "id": "a9f6fbe4-0058-42ea-adc8-155007cd21ec"
    },
    {
      "parameters": {
        "url": "={{$json.cwhost}}/api/v1/accounts/{{$json.account}}/inboxes/{{$json.inbox}}",
        "allowUnauthorizedCerts": true,
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "api_access_token",
              "value": "={{$json.utoken}}"
            }
          ]
        }
      },
      "name": "Get Inbox Information",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -1640,
        320
      ],
      "id": "40617712-1014-437a-bdc1-cff8d0ba2f92",
      "notes": "Important to use \"source_id\" to respond messages"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.greeting_enabled ?? false }}",
              "value2": true
            }
          ]
        }
      },
      "name": "Is Greeting Enabled ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -700,
        240
      ],
      "alwaysOutputData": false,
      "id": "7ca927f3-4128-44bf-b438-626f2d8a67b9"
    },
    {
      "parameters": {
        "mode": "multiplex"
      },
      "id": "a02cb727-3e4c-4e42-9716-5005473f8aab",
      "name": "Merge Extra + Greeting Content",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [
        -100,
        160
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "1b4db2b0-b206-4747-834e-3f08244017d7",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        -1440,
        220
      ]
    },
    {
      "parameters": {},
      "id": "0ec79f26-26c2-402d-82c9-0e55351d81dd",
      "name": "Waiting for inbox info",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1640,
        140
      ]
    },
    {
      "parameters": {
        "errorMessage": "no chat id"
      },
      "id": "67c94092-6344-4f5f-a4c9-55c66bba0967",
      "name": "S&E - No Chat Id",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -1640,
        540
      ]
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field\n// called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  let value = item.json.content;\n  if (typeof value === 'string') {\n    value = value.replace(/\\*\\*/g,'*');\n    value = value.replace(/\\\\\\s/g,'\\r');\n  }\n  item.json.content = value;\n}\n\nreturn $input.all();"
      },
      "id": "e4e81ea0-a99b-43cb-b93e-4c571875057b",
      "name": "Text Enchanted adjusts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        100,
        160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.skipgreetings ?? false }}",
              "value2": true
            }
          ]
        }
      },
      "id": "71ba2bae-dcb9-411d-8bd6-3761c2a2e278",
      "name": "Skip Greetings By Contact",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -500,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field\n// called 'myNewField' to the JSON of each one\nfor (const dados of $input.all()) {\n  \n  //HugoSampaio: Ajuda a analisar problemas de timezone nao configurado\n  dados.json.horaAtual = $now.toFormat('H');\n  \n  for(let wo of dados.json[\"working_hours\"] ){\n    if ($today.weekday === wo.day_of_week){\n      if(wo.closed_all_day == true){\n        dados.json.sendOutofOfficeMessage = true;\n        break;\n      }\n  \n      if(wo.open_all_day == false){  \n        \n        if($now.toFormat('H') <= wo.open_hour  || $now.toFormat('H') >= wo.close_hour){\n          \n          // abertura\n          if($now.toFormat('H') == wo.open_hour){\n            if($now.toFormat('mm') < wo.open_minutes){\n              dados.json.sendOutofOfficeMessage = true;\n              break;\n            }else{\n              dados.json.sendOutofOfficeMessage = false;\n              break;\n            }\n          }\n          \n  \n          // fechamento\n          if($now.toFormat('H') == wo.close_hour){\n            if($now.toFormat('mm') >= wo.close_minutes){\n              dados.json.sendOutofOfficeMessage = true;\n              break;\n            }else{\n              dados.json.sendOutofOfficeMessage = false;\n              break;\n            }\n          }\n  \n          dados.json.sendOutofOfficeMessage = true;\n          break;\n         \n        }    \n      }\n    }\n  }\n}\n\nreturn $input.all();"
      },
      "id": "a6417862-e6db-4285-b048-da076e66440b",
      "name": "Calculate Working Hours",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -1080,
        120
      ]
    },
    {
      "parameters": {
        "respondWith": "noData",
        "options": {}
      },
      "id": "8df54575-f43e-49ec-881d-567dce876da8",
      "name": "Normal Exit (GNF)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -300,
        20
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.working_hours_enabled ?? false }}",
              "value2": true
            }
          ]
        }
      },
      "name": "Working Hours Enabled ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1280,
        220
      ],
      "alwaysOutputData": false,
      "id": "c33b5cd8-3ad1-43cf-b822-fa7ef6a2512e"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.sendOutofOfficeMessage ?? false }}",
              "value2": true
            }
          ]
        }
      },
      "name": "Should Send Out Of Office Message ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -900,
        120
      ],
      "alwaysOutputData": false,
      "id": "07a1affe-c9e9-4bd6-b99a-10d04ce44be6"
    },
    {
      "parameters": {
        "content": "## (1.0.0) Recommendations \n* Remember set timeout to 20 seconds ",
        "height": 194.5475077160475,
        "width": 505.65878958512553
      },
      "id": "ed7627a2-0ea4-4d78-9475-170761f3af2b",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2380,
        100
      ]
    },
    {
      "parameters": {},
      "id": "aac07236-365b-4ea9-9e23-d280652a5fc2",
      "name": "When Called By Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -2340,
        340
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Has Chat Id ?": {
      "main": [
        [
          {
            "node": "Get Inbox Information",
            "type": "main",
            "index": 0
          },
          {
            "node": "Waiting for inbox info",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "S&E - No Chat Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Payload": {
      "main": [
        [
          {
            "node": "Has Chat Id ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Greeting Message Content": {
      "main": [
        [
          {
            "node": "Merge Extra + Greeting Content",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get Inbox Information": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Is Greeting Enabled ?": {
      "main": [
        [
          {
            "node": "Skip Greetings By Contact",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normal Exit (GNE)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Extra + Greeting Content": {
      "main": [
        [
          {
            "node": "Text Enchanted adjusts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Working Hours Enabled ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Waiting for inbox info": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Enchanted adjusts": {
      "main": [
        [
          {
            "node": "Quepasa Send Welcome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip Greetings By Contact": {
      "main": [
        [
          {
            "node": "Normal Exit (GNF)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Greeting Message Content",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Extra + Greeting Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Working Hours": {
      "main": [
        [
          {
            "node": "Should Send Out Of Office Message ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Working Hours Enabled ?": {
      "main": [
        [
          {
            "node": "Calculate Working Hours",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Greeting Enabled ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Send Out Of Office Message ?": {
      "main": [
        [
          {
            "node": "Skip Greetings By Contact",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Greeting Enabled ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Called By Another Workflow": {
      "main": [
        [
          {
            "node": "Set Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 20
  },
  "versionId": "23a8fbf1-5696-4666-9637-e38849a7f152",
  "id": "1007",
  "meta": {
    "instanceId": "2b4ab318d4f8eba20155e50db9998481bc305e3588e42ee69176091736c9d07e"
  },
  "tags": [    
    {
      "name": "QUEPASA"
    },
    {
      "name": "CHATWOOT"
    },
    {
      "name": "NOCODELEAKS"
    }
  ]
}