extra/n8n+chatwoot/QuepasaContactsImport.json
{
  "name": "QuepasaContactsImport",
  "nodes": [
    {
      "parameters": {},
      "id": "9c0be58d-7a0f-4c83-8632-539bad96f606",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -16,
        -32
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.server.extra.qphost }}/contacts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-QUEPASA-TOKEN",
              "value": "={{ $json.server.extra.qptoken }}"
            }
          ]
        },
        "options": {}
      },
      "id": "14964617-6326-48bd-b143-184fe9a6071f",
      "name": "Get Contacts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        368,
        -144
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f8c1fe8a-5285-42e8-b6ed-969151130c49",
              "name": "server.extra.cwhost",
              "value": "={{ $json.extra.cwhost }}",
              "type": "string"
            },
            {
              "id": "8befdabc-9b00-4bd9-bcc8-9e7e817a76cf",
              "name": "server.extra.qphost",
              "value": "={{ $json.extra.qphost }}",
              "type": "string"
            },
            {
              "id": "b820262b-f408-4cce-bb06-4ce1484f7154",
              "name": "server.extra.qptoken",
              "value": "={{ $json.extra.identifier }}",
              "type": "string"
            },
            {
              "id": "29628359-6ed9-455e-9c7e-912f5239dc0b",
              "name": "=server.extra.atoken",
              "value": "={{ $json.extra.atoken }}",
              "type": "string"
            },
            {
              "id": "098a452c-c45a-4941-b04f-3b6ad33bde65",
              "name": "server.extra.atoken",
              "value": "={{ $json.extra.atoken }}",
              "type": "string"
            },
            {
              "id": "b0a5caf9-c231-48f9-8d10-b8a688de70e2",
              "name": "server.extra.token",
              "value": "={{ $json.extra.identifier }}",
              "type": "string"
            },
            {
              "id": "cacc3963-4b57-46bd-9d65-4b3452c56d98",
              "name": "chat.id",
              "value": "={{ $json.conversation_id }}",
              "type": "number"
            },
            {
              "id": "c889fda1-2143-4381-b3ba-7347da8bef6e",
              "name": "chat.inbox_id",
              "value": "={{ $json.extra.inbox }}",
              "type": "number"
            },
            {
              "id": "a78dc05a-3025-4585-8685-5156af8cbb40",
              "name": "chat.account_id",
              "value": "={{ $json.extra.account }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "ff54a2f6-9f23-4f83-898b-9982dc40eedb",
      "name": "Get Extra",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        192,
        -32
      ],
      "notesInFlow": true
    },
    {
      "parameters": {
        "fieldToSplitOut": "contacts",
        "options": {}
      },
      "id": "c03ea729-589f-4447-90de-bbbb88a00ea0",
      "name": "Split Contacts",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        608,
        -144
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c728248a-abfd-4cf7-8170-03523ad0f921",
              "name": "total",
              "value": "={{ $('Get Contacts').item.json.total }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "b44500dc-0ca3-414b-9708-0134499bdc8f",
      "name": "Numbers Sent",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        848,
        -144
      ],
      "notesInFlow": true
    },
    {
      "parameters": {},
      "id": "817d99d0-ffa6-445c-8358-14d2b727a266",
      "name": "No Operation",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1264,
        32
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "175c5754-b4a3-4e1c-8893-7a87908a61e7",
      "name": "Merge Extra",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1072,
        -48
      ],
      "notesInFlow": true
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "id": "8ca1e4c1-5321-47ee-80e0-8460a3385736",
      "name": "Merge Register",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1680,
        -32
      ],
      "notesInFlow": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.server.extra.cwhost }}/api/v1/accounts/{{ $json.chat.account_id }}/conversations/{{ $json.chat.id }}/messages  ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $json.server.extra.atoken }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n \"private\": false,\n  \"content\": \"💬 Importando Contatos. Mais um momento... \\nTotal a ser importado: **{{ $json.total }}** \",\n \"message_type\": 2,\n \"content_type\": \"text\"\n}",
        "options": {}
      },
      "id": "16c83083-9960-4d10-967a-33feabd1bf10",
      "name": "Message Register Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1488,
        32
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH inserted AS (\n    INSERT INTO contacts (phone_number, name, identifier, account_id, created_at, updated_at)\n    SELECT\n      '{{ $json.id.split(\"@\")[0] }}',\n      '{{ $json.title.replace(/'/g, \"''\") }}',\n      '{{ $json.id }}',\n      '{{ $json.chat.account_id }}',\n      '{{ $now }}',\n      '{{ $now }}'\n    WHERE NOT EXISTS (\n      SELECT 1 FROM contacts WHERE\n        -- Verifica se o número de telefone normalizado já existe no campo phone_number\n        (\n          CASE WHEN SUBSTRING(contacts.phone_number FROM 3 FOR 1) = '9' THEN\n            CONCAT(SUBSTRING(contacts.phone_number FROM 1 FOR 2), SUBSTRING(contacts.phone_number FROM 4))\n          ELSE\n            contacts.phone_number\n          END\n        ) = (\n          CASE WHEN SUBSTRING('{{ $json.id.split(\"@\")[0] }}' FROM 3 FOR 1) = '9' THEN\n            CONCAT(SUBSTRING('{{ $json.id.split(\"@\")[0] }}' FROM 1 FOR 2), SUBSTRING('{{ $json.id.split(\"@\")[0] }}' FROM 4))\n          ELSE\n            '{{ $json.id.split(\"@\")[0] }}'\n          END\n        )\n        -- Ou verifica se o número normalizado já existe no campo identifier\n        OR\n        (\n          CASE WHEN SUBSTRING(SPLIT_PART(contacts.identifier, '@', 1) FROM 3 FOR 1) = '9' THEN\n            CONCAT(\n              SUBSTRING(SPLIT_PART(contacts.identifier, '@', 1) FROM 1 FOR 2),\n              SUBSTRING(SPLIT_PART(contacts.identifier, '@', 1) FROM 4)\n            )\n          ELSE\n            SPLIT_PART(contacts.identifier, '@', 1)\n          END\n        ) = (\n          CASE WHEN SUBSTRING('{{ $json.id.split(\"@\")[0] }}' FROM 3 FOR 1) = '9' THEN\n            CONCAT(SUBSTRING('{{ $json.id.split(\"@\")[0] }}' FROM 1 FOR 2), SUBSTRING('{{ $json.id.split(\"@\")[0] }}' FROM 4))\n          ELSE\n            '{{ $json.id.split(\"@\")[0] }}'\n          END\n        )\n        -- Ou verifica se já existe um registro com o mesmo identifier e account_id\n        OR\n        (\n          contacts.identifier = '{{ $json.id }}' AND\n          contacts.account_id = '{{ $json.chat.account_id }}'\n        )\n    )\n    RETURNING TRUE AS inserted\n)\nSELECT COALESCE((SELECT inserted FROM inserted), FALSE) AS inserted;\n",
        "options": {
          "queryBatching": "transaction"
        }
      },
      "id": "b58d3c33-00f5-48ed-81f2-157e3c6868f4",
      "name": "Register Contact",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1920,
        -160
      ],
      "notesInFlow": true,
      "credentials": {
        "postgres": {
          "id": "YFd6cwaRD0Dn4rgS",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "e9b2329d-d749-4804-b4e0-ba0454d59011",
              "leftValue": "={{ $json.inserted }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2c576c1d-5695-4b06-834d-03a30a725997",
      "name": "Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2144,
        -160
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f79185b5-f686-48bd-9e45-806fa0c65870",
              "name": "importeds",
              "value": "={{ $items().length }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "44cc8e2d-8931-4fa1-aefa-367ab2ffb2a1",
      "name": "Item Import",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2384,
        -192
      ],
      "executeOnce": true,
      "notesInFlow": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json[\"server\"][\"extra\"][\"cwhost\"] }}/api/v1/accounts/{{ $json[\"chat\"][\"account_id\"] }}/conversations/{{ $json.chat.id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $json.server.extra.atoken }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n \"private\": false,\n  \"content\": \"💬 Contatos Importados com sucesso! \\n Total: **{{ $json.total}}** \\nImportados:**{{ $json[\"importeds\"] }}** \",\n \"message_type\": 2,\n \"content_type\": \"text\"\n}",
        "options": {}
      },
      "id": "2525f639-3673-4531-859f-08f0a83b228c",
      "name": "Message Ends",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2864,
        -48
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "fa79f56f-e358-47a1-be01-ad5136078a84",
      "name": "Merge Import",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2672,
        -48
      ],
      "notesInFlow": true
    },
    {
      "parameters": {
        "content": "## Version 1.1.0\n\n### Security Updates\n* Replaced utoken with atoken (AgentBot token) for contact import messages\n* All message operations now use scoped AgentBot tokens\n\n### Previous Updates (1.0.0)\n* Initial version\n\n## Recommendations\n* Remember set timeout to 20 seconds",
        "height": 354,
        "width": 532
      },
      "id": "789d1db8-4aaf-4cc0-9b40-f9055701e02f",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -224,
        -432
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Get Extra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Contacts": {
      "main": [
        [
          {
            "node": "Split Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Extra": {
      "main": [
        [
          {
            "node": "Get Contacts",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Extra",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Split Contacts": {
      "main": [
        [
          {
            "node": "Numbers Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Numbers Sent": {
      "main": [
        [
          {
            "node": "Merge Extra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation": {
      "main": [
        [
          {
            "node": "Message Register Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Extra": {
      "main": [
        [
          {
            "node": "Merge Register",
            "type": "main",
            "index": 0
          },
          {
            "node": "No Operation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Register": {
      "main": [
        [
          {
            "node": "Merge Import",
            "type": "main",
            "index": 1
          },
          {
            "node": "Register Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message Register Contact": {
      "main": [
        [
          {
            "node": "Merge Register",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Register Contact": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success": {
      "main": [
        [
          {
            "node": "Item Import",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Import": {
      "main": [
        [
          {
            "node": "Merge Import",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Import": {
      "main": [
        [
          {
            "node": "Message Ends",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c54d9b59-236a-46da-9f8e-95312a98ec63",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b656f3b693bffcab3cd911d06103810eb449b13e83feb9fa4de77099c1eeaa89"
  },
  "id": "PkjmWuUN1y6sCX11",
  "tags": []
}