extra/n8n+chatwoot/QuepasaQrcode.json
{
  "name": "QuepasaQrcode",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.success}}",
              "value2": true
            }
          ]
        }
      },
      "id": "7a657e98-4a73-4e0c-ae6b-6a008e1f19ce",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        5456,
        496
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$json.extra.cwhost}}/api/v1/accounts/{{$json.extra.account}}/conversations/{{$json.conversation}}/messages ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{$json.extra.atoken}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": \"✅ Qrcode gerado com sucesso!\\r\\n⚙ Digitalize este código QR nos próximos {{ $node['Command & Parameters'].json.timeout }} segundos\",\n  \"message_type\": 0\n}",
        "options": {}
      },
      "id": "7a21e884-7eda-4e9c-8ab7-67482bf65502",
      "name": "Qrcode gerado com sucesso!",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1776,
        368
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.success }}",
              "value2": true
            },
            {
              "value1": "={{ $json.server.verified }}",
              "value2": true
            }
          ]
        }
      },
      "id": "1d35583a-f125-4994-a64f-dd8b040573b7",
      "name": "Success QrCode",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3152,
        416
      ]
    },
    {
      "parameters": {
        "content": "##  QrCode Challenging\n",
        "height": 439.7888005497755,
        "width": 1689.6872805614216
      },
      "id": "16df1025-f5cd-4c1f-991e-de91e272f075",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        400,
        128
      ]
    },
    {
      "parameters": {
        "content": "## Follow",
        "height": 573.3499448215342,
        "width": 1700.4695972024795
      },
      "id": "12fe8c06-9ff2-4ce7-aa89-fa8958be5118",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2288,
        208
      ]
    },
    {
      "parameters": {
        "content": "## Version 1.1.0\n\n### Security Updates\n* Replaced utoken with atoken (AgentBot token) for QR code messages\n* Removed utoken from webhook URLs (CRITICAL security fix)\n* All message operations now use scoped AgentBot tokens\n\n### Previous Updates (1.0.8)\n* follow error message\n\n## Recommendations\n* Remember set timeout to 180 seconds for QR code scanning",
        "height": 363,
        "width": 681
      },
      "id": "25ff63fb-b42f-4e19-afd5-aa7bc9a1fa87",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2432,
        -240
      ]
    },
    {
      "parameters": {
        "url": "={{ $('EXTRA').item.json.qphost }}/scan",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "historysyncdays",
              "value": "={{ $json.variables?.historysyncdays ?? $env[\"HISTORYSYNCDAYS\"] }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-QUEPASA-TOKEN",
              "value": "={{ $('EXTRA').item.json.identifier }}"
            },
            {
              "name": "X-QUEPASA-USER",
              "value": "={{ $('EXTRA').item.json.qpuser }}"
            }
          ]
        },
        "options": {}
      },
      "id": "49165542-d8be-458c-a19a-6fcf3ad4813f",
      "name": "QrCode Gerenerator",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1024,
        416
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "03a53fd9-9c4f-40b9-b719-3222472d5d57",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1216,
        336
      ]
    },
    {
      "parameters": {},
      "id": "a27ebc4a-5536-4cfd-b436-6fdc5914c399",
      "name": "No Operation, do nothing1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1024,
        272
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "e7f719c2-fff6-4ae2-a032-1d6c0ac6de78",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        -608,
        368
      ]
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "id": "a21d5228-0745-47e4-93df-7c8f32267e54",
      "name": "Merge3",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1952,
        304
      ]
    },
    {
      "parameters": {
        "amount": "={{ $node['Command & Parameters'].json.timeout }}",
        "unit": "seconds"
      },
      "id": "286b1c17-bef6-4ad3-9f85-1899c1f24566",
      "name": "Waiting For Scanner",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2384,
        336
      ],
      "webhookId": "b8706931-81cb-4f18-93e0-0a5d5416734b"
    },
    {
      "parameters": {
        "baseUrl": "={{$json.extra.qphost}}",
        "token": "={{$json.extra.identifier }}",
        "resource": "information"
      },
      "id": "233094b8-be18-41c7-8d7f-33e1d43d5a75",
      "name": "Retrieving Info",
      "type": "n8n-nodes-quepasa.quepasa",
      "typeVersion": 1,
      "position": [
        2944,
        416
      ],
      "continueOnFail": true
    },
    {
      "parameters": {},
      "id": "e2e4deb4-bc02-436a-9d69-ecca5597bcbe",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2640,
        336
      ]
    },
    {
      "parameters": {},
      "id": "dacec15c-9dd7-4598-aa8f-e589e84c8566",
      "name": "No Operation, do nothing2",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3616,
        336
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "d7322316-1b9a-4603-95a2-b7e58cdeb70d",
      "name": "Merge4",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        3392,
        576
      ]
    },
    {
      "parameters": {},
      "id": "860fbb5b-6c9c-4bc2-95fd-834064241df5",
      "name": "No Operation, do nothing3",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2912,
        592
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$('EXTRA').item.json.cwhost}}/api/v1/accounts/{{$('EXTRA').item.json.account}}/conversations/{{$('PAYLOAD').item.json.conversation}}/messages ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{$('EXTRA').item.json.atoken}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"content\": \"❌ Tempo para conexão expirou !\\r\\nPor favor, reinicie o processo !\",\n  \"message_type\": 0\n}",
        "options": {}
      },
      "id": "19ceaced-0712-47d3-a070-3702bda5f260",
      "name": "Fail Scanner",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        3680,
        576
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "wid",
              "value": "={{$json.server.wid}}"
            }
          ]
        },
        "options": {}
      },
      "id": "7d3b847c-961d-46d7-8f55-417176ec743b",
      "name": "Set Whatsapp Id",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        3440,
        384
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "78cd6e1b-9f48-4f58-ac2c-59d005dd474a",
      "name": "Merge5",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        3824,
        368
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$('EXTRA').item.json.cwhost}}/api/v1/accounts/{{$('EXTRA').item.json.account}}/conversations/{{$('PAYLOAD').item.json.conversation}}/messages ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{$('EXTRA').item.json.atoken}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": \"Informações do servidor:\\r\\nToken gerado: {{$('EXTRA').item.json.identifier}}\\r\\nWhatsapp: {{$json.wid}}\",\n  \"message_type\": 0\n}",
        "options": {}
      },
      "id": "a8a9d810-03da-40c0-9668-44717ef09c64",
      "name": "Confirming Results",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        4080,
        464
      ]
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "id": "37e8ff64-ea49-49bb-a6c8-442d79132819",
      "name": "Merge6",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        4320,
        384
      ]
    },
    {
      "parameters": {},
      "id": "f0e427e3-6133-47e3-a796-bb3cd561000e",
      "name": "No Operation, do nothing4",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4544,
        384
      ]
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "id": "d189c382-28e1-45bc-996b-e561aa741c15",
      "name": "Merge7",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        5664,
        272
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$json.extra.qphost}}/api/v1/accounts/{{$json.extra.account}}/conversations/{{$json.conversation}}/messages ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{$json.extra.atoken}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "=Problema ao atualizar o webhook\n\n*{{$json.message}}\n"
            },
            {
              "name": "message_type",
              "value": "incoming"
            }
          ]
        },
        "options": {}
      },
      "id": "a1283423-8932-48dc-8f7d-df9748202bd6",
      "name": "Fail On Updating Quepasa Webhook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        5904,
        672
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$('EXTRA').item.json.cwhost}}/api/v1/accounts/{{$('EXTRA').item.json.account}}/conversations/{{$('PAYLOAD').item.json.conversation}}/messages ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{$('EXTRA').item.json.atoken}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"content\": \"✅ Conexão feita com sucesso!\\r\\nSistema Pronto para Usar\",\n  \"message_type\": 0\n}",
        "options": {}
      },
      "id": "39c6eb51-4bb6-4924-bd4f-edf27de1387b",
      "name": "All Ready",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        5840,
        128
      ]
    },
    {
      "parameters": {},
      "id": "b3c7907a-d5f1-497c-a803-22b22dd61658",
      "name": "No Operation, do nothing6",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4720,
        688
      ]
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "output": "input2"
      },
      "id": "ff71c652-d9c2-456c-9e4f-c0cf686c148a",
      "name": "Merge8",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        5664,
        672
      ]
    },
    {
      "parameters": {
        "workflowId": "={{ $env['C8Q_WF_QUEPASACONTACTSIMPORT'] ?? \"PkjmWuUN1y6sCX11\" }}",
        "options": {}
      },
      "id": "0655af24-f64d-49e7-b7e7-dce07e387e4d",
      "name": "Execute Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        6480,
        224
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "b20ae725-7b21-49a7-8042-b78f09c6e066",
      "name": "Merge9",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        6000,
        256
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "2d0442af-75b9-4ae8-8108-d5ff164e31a6",
              "leftValue": "={{ $('Webhook').item.json.body.messages[0].content }}",
              "rightValue": "/contacts",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5d73b1bb-5dd1-4b45-bb9b-a1f2c7d77c1e",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        6192,
        256
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$('EXTRA').item.json.cwhost}}/api/v1/accounts/{{$('EXTRA').item.json.account}}/conversations/{{$('PAYLOAD').item.json.conversation}}/messages ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{$('EXTRA').item.json.atoken}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"content\": \"❌ Comando Inválido !\\r\\nUse:\\r\\n/qrcode\\r\\n/paircode +55XXXXXXXXXX\\r\\n\",\n  \"message_type\": 0\n}",
        "options": {}
      },
      "id": "873ee8bf-f7c8-4f6f-9e47-ddc033e8c2b0",
      "name": "Invalid Comand",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        224,
        1072
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$json.extra.cwhost}}/api/v1/accounts/{{$json.extra.account}}/conversations/{{$json.conversation}}/messages ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{$json.extra.atoken}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "=❌ Erro ao gerar o PairCode: {{ $json.error.message }}"
            },
            {
              "name": "message_type",
              "value": "incoming"
            }
          ]
        },
        "options": {}
      },
      "id": "75b384cb-194e-4594-8bc5-10d76ea11d13",
      "name": "PairCode Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1392,
        816
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$json.extra.cwhost}}/api/v1/accounts/{{$json.extra.account}}/conversations/{{$json.conversation}}/messages ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{$json.extra.atoken}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": \"✅ ***Pair Code Gerado com sucesso***\\r\\nNúmero: +{{ $json.message.split('+')[1] }}\\r\\nPairCode: ***{{ $json.status }}***\\r\\nSe o número está correto, uma notificação no whatsapp irá aparece, insira esse código no seu dispositivo para conectar !\",\n  \"message_type\": \"incoming\"\n}",
        "options": {}
      },
      "id": "07913d90-1386-4334-95a2-0e17e74d4966",
      "name": "PairCode gerado com sucesso!",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1376,
        624
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "5775f746-8485-4211-8319-e666c7b4633f",
      "name": "Merge10",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        896,
        704
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "e3e3c30f-7c66-4d0f-9de6-29d65c64dd4c",
              "leftValue": "={{ $json.success }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "509e03f6-b1b5-40a8-ae2b-bfa4c7b1a1fb",
      "name": "Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        1104,
        704
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ac7cf56a-64f3-4a7a-ba02-37c4ad1b2651",
              "name": "conversation",
              "value": "={{ $('Success?').item.json.conversation }}",
              "type": "number"
            },
            {
              "id": "24fb1141-1263-409c-bc86-fc7a2025d72b",
              "name": "message",
              "value": "={{ $('Success?').item.json.message }}",
              "type": "string"
            },
            {
              "id": "a290cc96-e510-4453-824c-d83f0ae1e397",
              "name": "extra",
              "value": "={{ $('Success?').item.json.extra }}",
              "type": "object"
            },
            {
              "id": "ebdcca1b-18a4-4076-afab-6eaada276a75",
              "name": "success",
              "value": "={{ $('Success?').item.json.success }}",
              "type": "boolean"
            },
            {
              "id": "33279daa-26cd-47c0-964a-02a2a9644471",
              "name": "status",
              "value": "={{ $('Success?').item.json.status }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "48beb8ea-525f-4d4a-b0c4-717a6f6d98e9",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1600,
        624
      ]
    },
    {
      "parameters": {
        "content": "##  PairCode Challenging\n",
        "height": 439.7888005497755,
        "width": 1689.6872805614216
      },
      "id": "a003e244-cdf7-48ee-b498-08d9936396f1",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        400,
        592
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"Webhook\"].json[\"body\"][\"messages\"][0][\"content\"].toLowerCase() }}",
              "operation": "contains",
              "value2": "typebot"
            }
          ]
        }
      },
      "id": "5b697296-c704-476a-9000-82f11248417c",
      "name": "Includes Typebot?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        4864,
        448
      ],
      "notes": "Criado para lidar com typebot"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "tbstart",
              "value": "={{ $node[\"Webhook\"].json[\"body\"][\"messages\"][0][\"content\"].split(' ')[1].split('-')[1] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "05c5f90b-c235-4392-ab1b-7e78456159c8",
      "name": "Set Typebot",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        5040,
        368
      ],
      "notes": "Criado para lidar com typebot"
    },
    {
      "parameters": {
        "baseUrl": "={{ $json.extra.qphost}}",
        "token": "={{$json.extra.identifier}}",
        "resource": "webhook",
        "operation": "setup",
        "url": "={{$json.extra.n8nhost}}/webhook/to-chatwoot",
        "trackid": "chatwoot",
        "extraAttributes": {
          "attribute": [
            {
              "key": "qptoken",
              "value": "={{$json.extra.identifier}}"
            },
            {
              "key": "cwhost",
              "value": "={{$josn.extra.cwhost}}"
            },
            {
              "key": "inbox",
              "value": "={{$json.extra.inbox}}"
            },
            {
              "key": "account",
              "value": "={{$json.extra.account}}"
            },
            {
              "key": "atoken",
              "value": "={{$json.extra.atoken}}"
            },
            {
              "key": "qphost",
              "value": "={{$json.extra.qphost}}"
            },
            {
              "key": "identifier",
              "value": "={{$json.extra.identifier}}"
            }
          ]
        }
      },
      "id": "8efb6e94-f874-4d3d-acc6-63f7a00bc3e7",
      "name": "Webhook Update",
      "type": "n8n-nodes-quepasa.quepasa",
      "typeVersion": 1,
      "position": [
        5216,
        544
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "baseUrl": "={{ $json.extra.qphost}}",
        "token": "={{$json.extra.identifier}}",
        "resource": "webhook",
        "operation": "setup",
        "url": "={{$json.extra.n8nhost}}/webhook/to-chatwoot",
        "trackid": "chatwoot",
        "extraAttributes": {
          "attribute": [
            {
              "key": "qptoken",
              "value": "={{$json.extra.identifier}}"
            },
            {
              "key": "cwhost",
              "value": "={{ $json.extra.cwhost }}"
            },
            {
              "key": "inbox",
              "value": "={{$json.extra.inbox}}"
            },
            {
              "key": "account",
              "value": "={{$json.extra.account}}"
            },
            {
              "key": "atoken",
              "value": "={{$json.extra.atoken}}"
            },
            {
              "key": "qphost",
              "value": "={{$json.extra.qphost}}"
            },
            {
              "key": "tbstart",
              "value": "={{ $json.tbstart }}"
            },
            {
              "key": "identifier",
              "value": "={{$json.extra.identifier}}"
            }
          ]
        }
      },
      "id": "706de778-6682-4881-8072-814c3bb6b1a0",
      "name": "Webhook Update1",
      "type": "n8n-nodes-quepasa.quepasa",
      "typeVersion": 1,
      "position": [
        5216,
        368
      ],
      "continueOnFail": true
    },
    {
      "parameters": {},
      "id": "a58238bd-8948-464c-8994-9c9e81cb300a",
      "name": "No Operation, do nothing7",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4720,
        256
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.extra.qphost }}/paircode?phone=+{{ $json.message.split('+')[1] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-QUEPASA-TOKEN",
              "value": "={{ $json.extra.identifier }}"
            },
            {
              "name": "X-QUEPASA-USER",
              "value": "={{ $json.extra.qpuser }}"
            }
          ]
        },
        "options": {}
      },
      "id": "04f890df-6535-4f37-a0e7-5900db6ba1f5",
      "name": "PairCode Generator",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        704,
        752
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{$('EXTRA').item.json.cwhost}}/api/v1/accounts/{{$('EXTRA').item.json.account}}/conversations/{{$('PAYLOAD').item.json.conversation}}/messages",
        "allowUnauthorizedCerts": true,
        "jsonParameters": true,
        "options": {
          "bodyContentType": "multipart-form-data"
        },
        "sendBinaryData": true,
        "binaryPropertyName": "attachments[]:data",
        "headerParametersJson": "={ \"api_access_token\": \"{{ $('EXTRA').item.json.atoken }}\" }",
        "queryParametersJson": "{ \"message_type\": \"incoming\" }"
      },
      "name": "Envia QRCode No Chatwoot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1424,
        336
      ],
      "id": "042ee554-8c2f-4673-a86a-24177d375546"
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "id": "25ad7aea-36d7-43a3-8839-835139ac1784",
      "name": "Merge2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1616,
        288
      ]
    },
    {
      "parameters": {
        "workflowId": "={{ $env['C8Q_WF_CHATWOOTEXTRA'] ?? \"iiEsUj7ybtzEZAFj\" }}",
        "options": {}
      },
      "id": "03b8876c-30a9-49bf-8a92-a889fbecbe57",
      "name": "Execute ChatWootExtra Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        -1360,
        384
      ],
      "executeOnce": false
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE \"public\".\"channel_api\" SET \"webhook_url\"='{{$json.webhook}}' WHERE \"id\"='{{$json.extra.channel}}';",
        "additionalFields": {}
      },
      "id": "87c30b13-192d-4347-80c1-d52ca5b6beac",
      "name": "Database Webhook Update",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        -160,
        112
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "YFd6cwaRD0Dn4rgS",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const extra = $('EXTRA').item.json;\n\nlet webhook = extra.n8nhost + \"/webhook/from-chatwoot?\";\nwebhook += \"identifier=\" + extra.identifier + \"&\";\nwebhook += \"atoken=\" + extra.atoken + \"&\";\n\nif (extra.qphost !== \"http://127.0.0.1:31000\"){\n  webhook += \"qphost=\" + extra.qphost + \"&\";\n}\n\nif (extra.cwhost !== \"http://127.0.0.1:3000\"){\n  webhook += \"cwhost=\" + extra.cwhost + \"&\";\n}\n\n//if (extra.cwpublic){\n//  webhook += \"cwpublic=\" + extra.cwpublic + \"&\";\n//}\n\nwebhook = webhook.replace(/\\&+$/, '');\n\n$input.item.json.webhook = webhook;\nreturn $input.item;"
      },
      "id": "2c9dbea7-6a63-40ef-9186-f032d69ee729",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -352,
        112
      ]
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "inbox",
              "value": "={{ $json.body?.inbox_id ?? '' }}"
            },
            {
              "key": "conversation",
              "value": "={{ $json.body?.id ?? '' }}"
            },
            {
              "key": "content",
              "value": "={{ $json.body?.messages[0]?.content ?? '' }}"
            }
          ]
        }
      },
      "id": "bda8fb54-045c-4673-b05d-16ea657b9587",
      "name": "Execution Data",
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1,
      "position": [
        -1520,
        -128
      ]
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "account",
              "value": "={{ $('EXTRA').item.json.account ?? '' }}"
            },
            {
              "key": "qpuser",
              "value": "={{ $('EXTRA').item.json.qpuser ?? '' }}"
            },
            {
              "key": "identifier",
              "value": "={{ $('EXTRA').item.json.identifier ?? '' }}"
            }
          ]
        }
      },
      "id": "09398837-1cef-40bc-9fe5-e566d71a45b7",
      "name": "Execution Data After Extra",
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1,
      "position": [
        -464,
        -224
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$('EXTRA').item.json.cwhost}}/api/v1/accounts/{{$('EXTRA').item.json.account}}/conversations/{{$('PAYLOAD').item.json.conversation}}/messages ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{$('EXTRA').item.json.atoken}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"content\": \"✅ Inbox webhook atualizado com sucesso\",\n  \"message_type\": 0\n}",
        "options": {}
      },
      "id": "e70b87ae-f821-4271-a240-c26a6c145529",
      "name": "Inbox Webhook Updated",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        16,
        112
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.extra }}",
        "options": {}
      },
      "id": "a885adb5-544d-4207-be84-75fc86a6fd12",
      "name": "EXTRA",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1184,
        384
      ],
      "executeOnce": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1cdb8274-f7bd-45cb-80d9-7420dd90dcf7",
              "name": "extra",
              "value": "={{ $json }}",
              "type": "object"
            },
            {
              "id": "e72815a2-ae40-419a-92df-fe487b8c8e2c",
              "name": "conversation",
              "value": "={{ $('Webhook').item.json.body.id ?? $('Webhook').item.json.body.messages[0].conversation_id }}",
              "type": "number"
            },
            {
              "id": "b05caf1a-d5f7-4c2d-83c1-83a8914de417",
              "name": "content",
              "value": "={{ $('Webhook').item.json.body.messages[0].content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "26fc006a-9367-44d6-b4bd-9e76f6cc844f",
      "name": "PAYLOAD",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1008,
        384
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message }}",
                    "rightValue": "qrcode",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "qrcode"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "2cbf426e-d6e7-4108-a1eb-8983422aff04",
                    "leftValue": "={{ $json.message }}",
                    "rightValue": "paircode",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "paircode"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "ae58c57f-b87e-40f3-8736-2be0f6355254",
                    "leftValue": "={{ $json.message }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "empty"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "invalid"
        }
      },
      "id": "f345ee94-442b-4cc4-bb05-f973e7719dc6",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.1,
      "position": [
        -112,
        368
      ]
    },
    {
      "parameters": {},
      "id": "226d61d6-55e1-479e-a33f-6c410f517a9e",
      "name": "Qrcode Challenging",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        544,
        336
      ]
    },
    {
      "parameters": {},
      "id": "ffe2506a-3f4d-466e-af4d-ad24f9b8e372",
      "name": "Paircode Challenging",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        496,
        688
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "empty content",
        "options": {
          "responseCode": 200
        }
      },
      "id": "cb19abca-b8f9-414f-88b0-da4d63e0b6a2",
      "name": "Respond to Webhook - Empty",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        224,
        848
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "invalid command",
        "options": {
          "responseCode": 200
        }
      },
      "id": "2119bfa7-d075-4400-9320-6adc2911c727",
      "name": "Respond to Webhook - Invalid",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        416,
        1072
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "317ebd12-2d8f-4000-9e93-f5b2ea21c146",
              "leftValue": "={{ $json.body.messages[0].message_type }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ada8d789-dff1-40fe-8ac8-b99e56985ecd",
      "name": "If Incoming Message Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1584,
        368
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "ignored cause its a incoming message",
        "options": {}
      },
      "id": "363ab95b-8e84-4ef6-9575-2c78f317f400",
      "name": "Respond to Webhook - Ignore Incoming",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -1360,
        208
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const content = $json.content?.trim() ?? ''; // Remover espaços extras no início e fim\n\n// Identificar comando, telefone e variáveis\nlet command = \"\";\nlet phoneNumber = \"\";\nlet variables = {};\n\n// Expressão regular unificada\nconst regex = /^(\\/(paircode|qrcode))\\s*(\\+?[0-9]+)?\\s*(.*)$/;\nconst matches = content.match(regex);\n\nif (matches) {\n    command = matches[2]; // Captura \"paircode\" ou \"qrcode\"\n    phoneNumber = matches[3] || \"\"; // Captura o número de telefone, se existir\n    const variablesString = matches[4] || \"\"; // Captura as variáveis, se existirem\n\n    // Processar variáveis no formato \"--nome=valor\"\n    variablesString.match(/--([a-zA-Z0-9\\-]+)=([0-9]+)/g)?.forEach(variable => {\n        const [key, value] = variable.replace('--', '').split('=');\n        variables[key] = value;\n    });\n}\n\n// Definir timeout padrão e verificar se foi substituído por uma variável\nlet timeout = parseInt(variables.timeout) || 30;\n\nreturn {\n  \"conversation\": $json.conversation,\n  \"timeout\": timeout, // Usa o valor da variável timeout, se disponível\n  \"message\": $json.content,\n  \"command\": command,\n  \"phoneNumber\": phoneNumber,\n  \"variables\": variables\n};\n"
      },
      "id": "98073619-eb17-4c20-9b68-ac97def77372",
      "name": "Command & Parameters",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -800,
        304
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "quepasa",
        "options": {}
      },
      "id": "19b97f12-150d-42e8-8ac6-f910177308aa",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1840,
        368
      ],
      "webhookId": "e8d38d79-8f79-4bd1-85f8-fce3d8200233"
    }
  ],
  "pinData": {},
  "connections": {
    "IF": {
      "main": [
        [
          {
            "node": "Merge7",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Merge8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qrcode gerado com sucesso!": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Success QrCode": {
      "main": [
        [
          {
            "node": "Set Whatsapp Id",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QrCode Gerenerator": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Envia QRCode No Chatwoot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          },
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Waiting For Scanner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Waiting For Scanner": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieving Info": {
      "main": [
        [
          {
            "node": "Success QrCode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Retrieving Info",
            "type": "main",
            "index": 0
          },
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          },
          {
            "node": "No Operation, do nothing3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing2": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "Fail Scanner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing3": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Set Whatsapp Id": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge5": {
      "main": [
        [
          {
            "node": "Confirming Results",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirming Results": {
      "main": [
        [
          {
            "node": "Merge6",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge6": {
      "main": [
        [
          {
            "node": "No Operation, do nothing4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing4": {
      "main": [
        [
          {
            "node": "No Operation, do nothing6",
            "type": "main",
            "index": 0
          },
          {
            "node": "Includes Typebot?",
            "type": "main",
            "index": 0
          },
          {
            "node": "No Operation, do nothing7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge7": {
      "main": [
        [
          {
            "node": "All Ready",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge9",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "All Ready": {
      "main": [
        [
          {
            "node": "Merge9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing6": {
      "main": [
        [
          {
            "node": "Merge8",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge8": {
      "main": [
        [
          {
            "node": "Fail On Updating Quepasa Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge9": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PairCode gerado com sucesso!": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge10": {
      "main": [
        [
          {
            "node": "Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success?": {
      "main": [
        [
          {
            "node": "PairCode gerado com sucesso!",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PairCode Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Waiting For Scanner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Includes Typebot?": {
      "main": [
        [
          {
            "node": "Set Typebot",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Webhook Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Typebot": {
      "main": [
        [
          {
            "node": "Webhook Update1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Update": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Update1": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing7": {
      "main": [
        [
          {
            "node": "Merge7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PairCode Generator": {
      "main": [
        [
          {
            "node": "Merge10",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Envia QRCode No Chatwoot": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Qrcode gerado com sucesso!",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute ChatWootExtra Workflow": {
      "main": [
        [
          {
            "node": "EXTRA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Database Webhook Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Database Webhook Update": {
      "main": [
        [
          {
            "node": "Inbox Webhook Updated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EXTRA": {
      "main": [
        [
          {
            "node": "PAYLOAD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PAYLOAD": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          },
          {
            "node": "Execution Data After Extra",
            "type": "main",
            "index": 0
          },
          {
            "node": "Command & Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Qrcode Challenging",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Paircode Challenging",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook - Empty",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Invalid Comand",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qrcode Challenging": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          },
          {
            "node": "QrCode Gerenerator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Paircode Challenging": {
      "main": [
        [
          {
            "node": "Merge10",
            "type": "main",
            "index": 0
          },
          {
            "node": "PairCode Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invalid Comand": {
      "main": [
        [
          {
            "node": "Respond to Webhook - Invalid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Incoming Message Type": {
      "main": [
        [
          {
            "node": "Respond to Webhook - Ignore Incoming",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute ChatWootExtra Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Command & Parameters": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Execution Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "If Incoming Message Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5cdd9659-9b1a-4705-a95b-2f6f0d6f13a1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b656f3b693bffcab3cd911d06103810eb449b13e83feb9fa4de77099c1eeaa89"
  },
  "id": "z7iqKYC8r5nPRRHt",
  "tags": []
}