extra/n8n+chatwoot/QuepasaAutomatic.json
{
  "name": "QuepasaAutomatic",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO \"contacts\" (\"name\", \"identifier\", \"account_id\", \"created_at\", \"updated_at\", \"last_activity_at\") VALUES ('Quepasa Control', 'control@quepasa.io', {{ $json.account }}, NOW(), NOW(), NOW());",
        "additionalFields": {}
      },
      "id": "9ae73ae2-b057-42ab-aec2-2eb07432b666",
      "name": "Cria o Contato",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        700,
        660
      ],
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Postgres account"
        }
      },
      "notes": "Sucesso"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO \"automation_rules\" (\"account_id\", \"name\", \"description\", \"event_name\", \"conditions\", \"actions\", \"created_at\", \"updated_at\", \"active\") VALUES ({{ $json.account }}, 'Start Quepasa', 'Start Quepasa', 'message_created', \n\n'[{\"values\": [\"control@quepasa.io\"], \"attribute_key\": \"identifier\", \"query_operator\": \"and\", \"filter_operator\": \"equal_to\", \"custom_attribute_type\": \"\"}, {\"values\": [\"outgoing\"], \"attribute_key\": \"message_type\", \"query_operator\": \"and\", \"filter_operator\": \"equal_to\", \"custom_attribute_type\": \"\"}, {\"values\": [\"/qrcode\"], \"attribute_key\": \"content\", \"filter_operator\": \"contains\", \"custom_attribute_type\": \"\"}]'\n\n, '[{\"action_name\": \"send_webhook_event\", \"action_params\": [\"{{ $node[\"Colocar Dados\"].json[\"URL N8N\"] }}/webhook/quepasa\"]}]', NOW(), NOW(), 'true');",
        "additionalFields": {}
      },
      "id": "e1822cbf-efbc-47dd-8ad7-afa92d4c3b85",
      "name": "Cria Automação",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        700,
        460
      ],
      "alwaysOutputData": false,
      "notesInFlow": false,
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Postgres account"
        }
      },
      "notes": "Sucesso"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT \"accounts\".\"id\" AS \"account\" FROM \"accounts\" LEFT JOIN \"automation_rules\" ON \"accounts\".\"id\" = \"automation_rules\".\"account_id\" AND \"automation_rules\".\"name\" = 'Start Quepasa' WHERE \"automation_rules\".\"name\" IS NULL;",
        "additionalFields": {}
      },
      "id": "2a75e8f4-7539-4d0a-88e2-561d0deabac7",
      "name": "Missing Automations",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        460,
        460
      ],
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Postgres account"
        }
      },
      "notes": "Sucesso"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT \"accounts\".\"id\" AS \"account\" FROM \"accounts\" LEFT JOIN \"contacts\" ON \"accounts\".\"id\" = \"contacts\".\"account_id\" AND \"contacts\".\"identifier\" = 'control@quepasa.io' WHERE \"contacts\".\"identifier\" IS NULL;",
        "additionalFields": {}
      },
      "id": "fb3f0031-6bca-4ef2-b154-3c02bb575e84",
      "name": "Missing Quepasa Contact",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        460,
        660
      ],
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Postgres account"
        }
      },
      "notes": "Sucesso"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "URL N8N",
              "value": "http://127.0.0.1:5678"
            }
          ]
        },
        "options": {}
      },
      "id": "cc3544d1-6ab9-49b3-a456-88c2ab01897c",
      "name": "Colocar Dados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        160,
        560
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT DISTINCT \"accounts\".\"id\" AS \"account\" FROM \"accounts\" WHERE NOT EXISTS (SELECT NULL FROM \"custom_attribute_definitions\" WHERE \"account_id\" = \"accounts\".\"id\" AND \"attribute_key\" = 'skipgreetings' AND \"attribute_model\" = 1);",
        "additionalFields": {}
      },
      "id": "f961e1b4-0cd9-4052-8ae1-3d8aface8820",
      "name": "Missing Greetings For Contact",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        460,
        900
      ],
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Postgres account"
        }
      },
      "notes": "Sucesso"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO \"custom_attribute_definitions\" (\"attribute_display_name\", \"attribute_key\", \"attribute_display_type\", \"attribute_model\", \"account_id\", \"attribute_description\", \"attribute_values\", \"updated_at\", \"created_at\") VALUES ('Skip Greetings', 'skipgreetings', 7, 1, {{ $json.account }}, 'Não utilizar a saudação programada para este contato', '[]', NOW(), NOW());",
        "additionalFields": {}
      },
      "id": "43dacfa8-f16b-4a9f-99ce-4a16471f24df",
      "name": "Insert Skip Greetings Attribute",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        700,
        900
      ],
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Postgres account"
        }
      },
      "notes": "Sucesso"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "1566ac58-35b2-4505-9d31-adba3ccb9cc3",
      "name": "Schedule Daily",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        100,
        1100
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds"
            }
          ]
        }
      },
      "id": "4dfd2f99-9053-42f1-8c6e-8e0426fb843a",
      "name": "Schedule By 30 Seconds",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -60,
        560
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT DISTINCT \"accounts\".\"id\" AS \"account\" FROM \"accounts\" WHERE NOT EXISTS (SELECT NULL FROM \"custom_attribute_definitions\" WHERE \"account_id\" = \"accounts\".\"id\" AND \"attribute_key\" = 'skipevaluation' AND \"attribute_model\" = 1);",
        "additionalFields": {}
      },
      "id": "cf25755f-6580-41f2-814c-79a3e4f7202f",
      "name": "Missing Evaluation For Contact",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        460,
        1100
      ],
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Postgres account"
        }
      },
      "notes": "Sucesso"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO \"custom_attribute_definitions\" (\"attribute_display_name\", \"attribute_key\", \"attribute_display_type\", \"attribute_model\", \"account_id\", \"attribute_description\", \"attribute_values\", \"updated_at\", \"created_at\") VALUES ('Skip Evaluation', 'skipevaluation', 7, 1, {{ $json.account }}, 'Não utilizar sistema de avaliação ou protocolo para este contato !', '[]', NOW(), NOW());",
        "additionalFields": {}
      },
      "id": "efd2d67c-4a32-4fd4-aea0-b216b59739a9",
      "name": "Insert Skip Evaluation For Contact Attribute",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        700,
        1100
      ],
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Postgres account"
        }
      },
      "notes": "Sucesso"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT DISTINCT \"accounts\".\"id\" AS \"account\" FROM \"accounts\" WHERE NOT EXISTS (SELECT NULL FROM \"custom_attribute_definitions\" WHERE \"account_id\" = \"accounts\".\"id\" AND \"attribute_key\" = 'skipevaluation' AND \"attribute_model\" = 0);",
        "additionalFields": {}
      },
      "id": "65aa9347-77a6-4ea6-8965-caf81a419901",
      "name": "Missing Evaluation For Conversation",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        460,
        1300
      ],
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Postgres account"
        }
      },
      "notes": "Sucesso"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO \"custom_attribute_definitions\" (\"attribute_display_name\", \"attribute_key\", \"attribute_display_type\", \"attribute_model\", \"account_id\", \"attribute_description\", \"attribute_values\", \"updated_at\", \"created_at\") VALUES ('Skip Evaluation', 'skipevaluation', 7, 0, {{ $json.account }}, 'Não utilizar sistema de avaliação ou protocolo para esta conversa !', '[]', NOW(), NOW());",
        "additionalFields": {}
      },
      "id": "35fe92f8-d6aa-4960-b525-dcb481353e5f",
      "name": "Insert Skip Evaluation For Conversation Attribute",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        700,
        1300
      ],
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Postgres account"
        }
      },
      "notes": "Sucesso"
    },
    {
      "parameters": {
        "content": "## (1.0.0) Recommendations \n* Remember set timeout to 15 seconds ",
        "width": 395
      },
      "id": "d7872589-290c-4614-868f-fabe6b64ca52",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -240,
        800
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Missing Automations": {
      "main": [
        [
          {
            "node": "Cria Automação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Missing Quepasa Contact": {
      "main": [
        [
          {
            "node": "Cria o Contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Colocar Dados": {
      "main": [
        [
          {
            "node": "Missing Automations",
            "type": "main",
            "index": 0
          },
          {
            "node": "Missing Quepasa Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Missing Greetings For Contact": {
      "main": [
        [
          {
            "node": "Insert Skip Greetings Attribute",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Daily": {
      "main": [
        [
          {
            "node": "Missing Greetings For Contact",
            "type": "main",
            "index": 0
          },
          {
            "node": "Missing Evaluation For Contact",
            "type": "main",
            "index": 0
          },
          {
            "node": "Missing Evaluation For Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule By 30 Seconds": {
      "main": [
        [
          {
            "node": "Colocar Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Missing Evaluation For Contact": {
      "main": [
        [
          {
            "node": "Insert Skip Evaluation For Contact Attribute",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Missing Evaluation For Conversation": {
      "main": [
        [
          {
            "node": "Insert Skip Evaluation For Conversation Attribute",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "682ba8bc-ce3a-4a41-993d-2b6790f5d955",
  "id": "1011",
  "meta": {
    "instanceId": "2b4ab318d4f8eba20155e50db9998481bc305e3588e42ee69176091736c9d07e"
  },
  "tags": []
}